.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar{
  border-bottom: 1px solid #eef;
  padding: 20px;
  padding-bottom: 30px;
}

.navbar>.link{
  border: 1px solid #eef;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  box-shadow: 1px 2px;
  margin: 10px;
}

.head{
  text-align: center;
  padding-bottom: 55px;
}

.heads{
  font-weight: bold;
  border-top: 1px solid #eef;
}

.merchant-rows{
  padding: 30px;
  border: 1px solid #eef;
  margin:  2% 5% 1% 5%;
  border-radius: 10px;
  box-shadow: -5px 3px #eef;
}


.merchant-profile{
  text-align: center;
  border: 1px solid #eee;
  padding: 30px 5px;
  border-radius: 5px;
}

.merchant-profile>img{
  margin: auto;
  display: block;
  box-shadow: 5px 3px 3px #ccb;
  border-radius: 50%;
}
.merchant-profile>p{
  border-top: 1px solid #efe;
  margin-top: 10px;
}

.premium-span{
  font-size: 9px;
  padding: 3px;
  border-radius: 3px;
}

.bid-head{
  font-weight: bold;
  color: #776;
  border-bottom: 1px solid #dde;
  margin: auto 10px;
}

.bid-items{
  border-bottom: 1px solid #eef;
  margin: auto 10px;
  margin-top: 10px;
  color: #445;
}

.center{
  text-align: center;
}

.avatar{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 5px;
}

.avatar-selected{
  box-shadow: 4px 4px #999;
  border-radius: 5%;
}

.info-icon>img{
  height: 10px;
  width: 10px;
}

.alert {
  margin:  20px;
}
